@model PageIntro
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminE/Views/Shared/_AdminLayout.cshtml";
    int count = 0;
    count++;
}


<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Category Table</h4>
                <p class="card-description">
                <a asp-controller="Page" asp-action="Create" class="btn btn-primary">Create</a>
                <a asp-controller="Page" asp-action="DeleteAll" class="btn btn-danger">Delete All Data!!</a>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Count</th>
                                <th>Title</th>
                                <th>Desc</th>
                                <th>Image</th>
                                <th>Setting</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                
                                <tr>
                                    <td>@count</td>
                                    <td>@Model.Title</td>
                                    <td>@Model.Desc</td>
                                    <td ><img style="width:200px;height:50px;" src="~/img/@Model.ImageUrl" /></td>
                                    <td>
                                        <a class="btn btn-danger" asp-controller="Page" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
                                        <a class="btn btn-dark" asp-controller="Page" asp-action="Updatem" asp-route-id="@Model.Id">Update</a>
                                        <a class="btn btn-success" asp-controller="Page" asp-action="Detail" asp-route-id="@Model.Id">Detail</a>

                                    </td>
                                </tr>
                            
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


